@import "../../../styles/variables.scss";

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
  position: relative;
}
.menuContainer {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 10;
  background-color: white;
  padding: 0.85rem;
  border-radius: 8px;
  border: 1px solid $blueXc;
}
.selectorContainer {
  padding: 0.5rem 0.5rem;
}
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 600;
  }
}
.buttonContainerFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}
