@import "../../styles/variables.scss";

.container {
  width: 100%;
  max-width: 30rem;
  padding: 1rem;
  background-color: $white;
  border: 1px solid grey;
  border-radius: 8px;
}
.inputContainer {
  width: 100%;
  padding: 0.5rem;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  h2 {
    color: $blueXc;
  }
}
.buttonContainer,
.buttonCreateContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  position: relative;
}
.buttonCreateContainer {
  padding-top: 2rem;
}
.buttonCreateContainer::before {
  content: "";
  width: 40%;
  position: absolute;
  top: 1em;
  border: 1px solid $black;
}
.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
