@import "../../styles/variables.scss";
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
